@use "@/styles/keyframes";
@use "@/styles/variables" as *;

.root {
    padding: .75rem;

    svg {
        fill: rgb($main);
        font-size: 1.75rem;
        animation: spinner .5s infinite;
    }
}