@use "@/styles/variables" as *;

.root {
    top: calc(75px + .75rem);
    gap: .75rem;
    width: min(250px, 100%);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    position: sticky;
}

.item {
    cursor: pointer;
    gap: .75rem;
    animation: none;
    padding: .75rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    transition: color .25s, background-color .25s;

    &Active {
        color: rgb($main);
        background-color: rgb($main, 0.1);
    }

    span {
        font-size: 0.95rem;
        font-weight: 500;
        user-select: none;
    }

    svg {
        font-size: 1.1rem;
    }
}