@use "@/styles/variables" as *;

.root {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($background, .5);
    display: flex;
    align-items: center;
    justify-content: center;

    &Heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &Title {
            font-weight: 600;
            font-size: 1.1em;
        }

        &Close {
            cursor: pointer;
            display: grid;
            transition: scale .25s;

            &:hover {
                scale: 1.1;
            }

            svg {
                font-size: 1.75rem;
            }
        }
    }

    &Wrapper {
        padding: 1.5rem;
        border-radius: .5rem;
        border: 1px solid rgb($foreground);
        background-color: rgb($background);
        animation: loadWrapper .25s;
        width: min(100%, 420px);

        &Unload {
            animation: unloadWrapper .25s;
        }
    }
}

@keyframes loadWrapper {
    0% {
        opacity: 0;
        scale: .9;
        // translate: 0 -100%;
    }
}

@keyframes unloadWrapper {
    100% {
        opacity: 0;
        scale: .9;
        // translate: 0 -100%;
    }
}