@use "@/styles/variables" as *;

.root {
    cursor: pointer;
    padding: .65rem .75rem;
    border-radius: .5rem;
    gap: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        font-size: 1.15rem;
    }

    span {
        font-size: .9rem;
        font-weight: 600;
    }
}

.primary {
    color: rgb(255, 255, 255);
    background-color: rgb($main);
    transition: background-color .25s;

    &:hover {
        background-color: rgba($main, .9);
    }

    &:disabled {
        cursor: not-allowed;
        color: rgb($primary);
        background-color: rgb($foreground);
    }
}

.secondary {
    color: rgb($primary);
    transition: background-color .25s, color .25s;

    &:hover {
        color: rgb($background);
        background-color: rgb($primary);
    }
}