@use "@/styles/variables" as *;
@use "@/styles/responsive" as *;

.root {
    display: flex;
    align-items: center;
    position: relative;
    padding: .25rem;
    border-radius: .5rem;
    border: 1px solid rgb($foreground);

    &:focus-within {
        .rootLabel {
            color: rgb($main);
            left: 1.25rem;
        }
    }

    &Active,
    &:focus-within {
        .rootLabel {
            font-size: .875rem;
            translate: 0 -1.25rem;
        }
    }

    &Label {
        left: 1.25rem;
        position: absolute;
        color: rgba($primary, .75);
        user-select: none;
        pointer-events: none;
        transition: font-size .25s, translate .25s, color .25s;
    }

    &Input {
        flex: 1;
        padding: 1.75rem 1rem .75rem 1rem;
    }

    &Input,
    &Label {
        font-size: .975rem;
        font-weight: 500;
    }
}